.filter {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 0;
}

.filter-list__item {
  margin-right: 8px;
  transition: box-shadow var(--anim-duration) var(--anim-timing-function);
}

.filter-list__item:last-child {
  margin-right: 0px;
}

.filter-list__item:hover,
.filter-list__item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
