.form-footer {
  &__block {
    margin-left: 93px;
    padding-top: 12px;
  }
  width: 570px;
  &__title {
    display: block;
    margin-bottom: 20px;
    font: inherit;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: $primary-white-color;
  }
  &-email {
    display: flex;
  }
  &-input {
    width: 358px;
    height: 50px;
    margin: 0;
    margin-right: 12px;
    padding: 15px 16px;
    font-size: 16px;
    line-height: 1.25;
    align-items: center;
    background: transparent;
    @include bordered(rgba(255, 255, 255, 0.3));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: $footer-text-color;
  }
  & input::placeholder {
    display: block;
    color: $footer-text-color;
  }
}
