.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: $primary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  &__icon {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    @include bordered(rgba(0, 0, 0, 0.1));
    // border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    transition: transform $anim-duration $anim-timing-function,
      fill $anim-duration $anim-timing-function;
    &:hover,
    &:focus {
      transform: scale(1.1);
      fill: $accent-color;
      cursor: pointer;
    }
  }
}
